@{
    ViewBag.Title = "Talk to us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2 Filet Way<br />
    Fond-de-Lac, Utah 84222-4569<br />
    <abbr title="Main Phone Number">P:</abbr>
    420.555.1313
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<small>
    Contact Information last updated: @DateTime.Now
</small>