@using TechAcadStudentsMVC.Models;
@model List<Instructor>
@{
  ViewBag.Title = "Instructor";
}

<h2>Instructor</h2>



@*<h5>  Details inside of an element that helpls display ID: @ViewBag.ID
</h5>

<p>
  Further details about the Instructor:
</p>
<ul>
  <li>Another Id: @Model.ID</li>
  <li>First Name: @Model.FirstName</li>
  <li>Last Name: @Model.LastName</li>
</ul>*@